@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BOOKSTORE</h1>
    <a class="btn btn-primary" asp-controller="BookMVC" asp-action="Index">BOOKSTORE</a>
</div>
